* {
    box-sizing: border-box;
}

.home .container {
    display: flex;
    height: 100%;
    flex-direction: column;
}


/*******************************************************************************
 *                                                                             *
 * Status server                                                               *
 *                                                                             *
 ******************************************************************************/

.status-server {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    height: auto;
    padding: 1rem 1.5rem;
    background: var(--background);
    backdrop-filter: blur(10px);
    border: var(--border);
    border-radius: 5px;
    color: var(--color);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    gap: 1rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.status-server:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.server-status-icon {
    height: 3.3rem;
}

.server-status-name {
    font-size: 1.5rem;
    color: var(--color);
}

.server-status-text {
    font-size: 0.6rem;
    color: #1AC707;
}

.server-status-infos .red {
    color: #FF0409;
}

.status-player-count {
    background: var(--shadow);
    min-width: 3rem;
    height: 3rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-count {
    font-size: 1.5rem;
}

.status-player-count:after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    border: solid 5px var(--background);
    background: #1AC707;
}

.red:after {
    background: #FF0409;
}

.home-bottom {
    position: relative;
    max-width: 100%;
    height: calc(100% - 80px - 8rem);
    display: grid;
    grid-template-columns: 1fr 100px; /* pour respecter la largeur des deux enfants */
    gap: 10px;
    margin: 20px;
}

/*******************************************************************************
 *                                                                             *
 * news server                                                                 *
 *                                                                             *
 ******************************************************************************/

.new-tab {
    display: flex;
    flex-direction: column;
    width: 90%;
    
}

.titre-tab-new {
    margin-top: 1rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background: var(--background-transparent);
    color: var(--color);
}

.news-list {
    overflow-y: auto;
    height: 100%;
    max-width: 100%; /* empêche le débordement */
}


.news-block {
    width: 100%;
    margin: 0 0 1rem 0;
    background: var(--background);
    backdrop-filter: blur(10px);
    border: var(--border);
    border-radius: 5px;
    color: var(--color);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.news-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    align-items: center;
}

.header-text .title {
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 1.2rem;
    text-align: center;
}

.news-header .date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-content .bbWrapper {
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    font-size: 1.2rem;

}

.news-content .bbWrapper p {
    font-weight: 100;
    margin: 0;

}

.news-content .bbWrapper .news-author {
    margin-top: 1rem;
    text-align: end;
    font-size: 0.8rem;
}

.news-content .bbWrapper .news-author span {
    font-weight: 700;
}

/*******************************************************************************
 *                                                                             *
 * social server                                                               *
 *                                                                             *
 ******************************************************************************/

.social-tab {
    display: flex;
    justify-content: center;
    max-width: 100%; 
}

.social-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.social-block {
    display: flex;
    width: 70px;
    height: 70px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.icon-social {
    cursor: pointer;
    background-repeat: no-repeat;
    height: 55%;
    width: 55%;
    filter: var(--svg-color) drop-shadow(0 0 0px #ffffffb0);
    transition: transform 0.45s ease, filter 0.45s ease;
    transform: scale(1);
}

.icon-social:hover {
    filter: var(--svg-color) drop-shadow(0 0 8px #ffffffb0);
    transform: scale(1.20);
}



/*******************************************************************************
 *                                                                             *
 * sidebar                                                                     *
 *                                                                             *
 ******************************************************************************/

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

.player-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    height: 3rem;
    margin: 0 1.5rem;
}

.player-head {
    background: url('../../images/default/setve.png'), no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    transition: var(--transition);
    height: 3rem;
    width: 3rem;
    pointer-events: none;
    border-radius: 5px;
}

.player-menu {
    color: var(--element-color);
    transform: rotate(270deg);
    pointer-events: none;
}

.play-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn {
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.45s ease, filter 0.45s ease;
}

.btn:hover {
    filter: drop-shadow(0 0 8px #ffffffb0);
    transform: scale(1.20);
}

.play-instance {
    transition: transform 0.45s ease, filter 0.45s ease;
}

.play-btn {
    display: inline-block;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color);
    background: var(--background);
    backdrop-filter: blur(10px);
    border: var(--border);
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.instance-select {
    display: flex;
    align-items: center;
    position: absolute;
    right: -3;
    top: -2;
    color: var(--element-color);
    font-size: 1rem;
    height: calc(100% - 1px);
    border: solid 3px var(--element-color);
    text-align: center;
    border-radius: 15px;
    padding: 0 0.5rem;
    cursor: pointer;
}

.instance-select:before {
    transform: rotate(270deg);
    pointer-events: none;
}

.info-starting-game {
    display: none;
    text-align: center;
}

.progress-bar {
    appearance: none;
    height: 10px;
    margin: 0.5rem 0;
}

.progress-bar::-webkit-progress-bar {
    background-color: var(--background);
    border: solid 1px var(--element-color);
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: var(--element-color);
    border-radius: 10px;
}

.settings-btn {
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
    color: var(--element-color);
    margin: 0 1.5rem;
}

.instance-popup {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background: #000000b3;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.instances-tab {
    position: relative;
    background: var(--background);
    border-radius: 10px;
    padding: 1rem 3rem;
}

.close-popup {
    position: absolute;
    display: flex;
    top: 10px;
    right: 10px;
    background: var(--shadow);
    height: 30px;
    width: 30px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.instances-tab p {
    margin-top: 1.5rem;
    font-size: 2rem;
}

.instance-elements {
    background: var(--background-element);
    text-align: center;
    border-radius: 10px;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.instance-elements:hover {
    background: var(--element-color);
}

.active-instance {
    background: var(--element-color);
}